.green{
  color: green;
}

.red{
  color: red;
}
.blue{
  color: blue;
}
.orange{
  color: rgb(245, 133, 6);
  
}
.pink{
  color: rgb(255, 0, 85);
   
}

.violet{
  color: violet;
}

.title{
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
}
div{
  display: flex;
  flex-direction: column;
margin-left: 20px;
padding: 10px;
}